<%- include("partials/header.ejs") %>
    <div class="jumbotron-container p-5 bg-primary-subtle">
        <div class="row">
            <div class="col-7 text-center ">
                <h1>Ramel Jay Cuna</h1>
                <p>Aspiring a Website Developer</p>
                <button class="btn btn-success" type="submit">Contact me</button>
            </div>
            <div class="col-5 text-center">
                <img src="images/logo-icon.png" alt="">
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>